.user-page {
    width: 100%;
    height: 100%;
    font-family: Product Sans;
    overflow: auto;
}

.user1 {
    width: 100%;
    height: 90%;
    display: flex;
    position: absolute;
    top: 10%;
    justify-content: center;
}

.user2 {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 5%;
}

.user3 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    gap: 27rem;
    margin-top: 2.5rem;

    @media screen and (max-width: 1200px) and (min-width: 451px) {
        gap: 0;
    }

    @media screen and (max-width: 450px) {
        gap: 1rem;
    }
}

.user3a {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 50%;
    height: 100%;

    @media screen and (max-width: 1200px) and (min-width: 540px) {
        width: 70%;
        gap: 1rem;
    }

    @media screen and (max-width: 539px) {
        gap: 0.5rem;
    }
}

.user3abtn {
    background: #3b7ced;
    color: white;
    padding: 12px;
    border-radius: 4px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    @media screen and (max-width: 647px) and (min-width: 562px) {
        font-size: 11px;
    }

    @media screen and (max-width: 561px) {
        font-size: 10px;
    }

    @media screen and (max-width: 561px) {
        padding: 10px;
    }
}

.user3abtn:hover {
    background: #335db2;
}

.usersash {
    width: 50%;
    height: 50%;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #e2e6e9;

    @media screen and (max-width: 450px) {
        gap: 0;
    }
}

.users1 {
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0;
}

.users2 {
    width: 40%;
    height: 40%;
}

.users3 {
    width: 140%;
    height: 50%;
    outline: none;
    border: none;
    opacity: 60%;

    :focus {
        outline: none;
    }

    @media screen and (max-width: 450px) {
        font-size: xx-small;
    }
}

.user3b {
    display: flex;
    gap: 1.5rem;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: end;

    @media screen and (max-width: 1200px) and (min-width: 401px) {
        width: 45%;
        gap: 1rem;
    }

    @media screen and (max-width: 400px) {
        width: 45%;
        gap: 0.5rem;
    }
}

.user3bpage {
    color: #a9b3bc;

    @media screen and (max-width: 500px) {
        font-size: 12px;
    }
}

.user3bnav {
    border: 1.2px solid #e2e6e9;
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;

    @media screen and (max-width: 400px) {
        height: 35%;
    }
}

.lr {
    width: 80%;
    height: 80%;
    color: gray;
}

.user3bview {
    border: 1.2px solid #e2e6e9;
    width: 25%;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;

    @media screen and (max-width: 400px) {
        height: 35%;
    }
}

.grid {
    width: 50%;
    height: 50%;
    color: #3b7ced;
}

.stroke {
    width: 2%;
    height: 100%;
    border-left: 1px solid #e2e6e9;
}
.user4 {
    width: 100%;
    height: 53%;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2.8rem;
    @media screen and (max-width: 344px) {
      justify-content: center;
    }
  }
  .user4gv {
    width: 17%;
    height: 70%;
    background-color: white;
    border: 1px solid #e2e6e9;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.7rem;
    cursor: pointer;
    @media screen and (max-width: 1200px) and (min-width: 954px) {
      width: 21%;
    }
    @media screen and (max-width: 953px) and (min-width: 892px) {
      width: 29.5%;
    }
    @media screen and (max-width: 891px) and (min-width: 829px) {
      width: 29.2%;
    }
    @media screen and (max-width: 828px) and (min-width: 767px) {
      width: 20%;
    }
    @media screen and (max-width: 766px) and (min-width: 711px) {
      width: 28.5%;
    }
    @media screen and (max-width: 710px) and (min-width: 671px) {
      width: 28.2%;
    }
    @media screen and (max-width: 710px) and (min-width: 645px) {
      width: 28%;
    }
    @media screen and (max-width: 645px) and (min-width: 613px) {
      width: 27.7%;
    }
    @media screen and (max-width: 645px) and (min-width: 547px) {
      width: 27%;
    }
    @media screen and (max-width: 546px) and (min-width: 508px) {
      width: 26.5%;
    }
    @media screen and (max-width: 507px) and (min-width: 345px) {
      width: 42%;
    }
    @media screen and (max-width: 344px) {
      width: 70%;
    }
  }
  .username{
    font-weight: bold;
  }
  .userole , .usermail, .usernum {
    color: #7a8a98;
    font-size: 14px;
  }
  .cirmage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #e2e6e9;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  