.sethead{
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 999;
    position: fixed;
  }
  .setwrap {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .sethom {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 500;
    line-height: 29.11px;
    text-align: left;
  }
  .setnav {
    color: #3b7ced;
  }
  
  .setlst {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
  }
  
  .setlist {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: space-evenly;
  }
  
  .setst {
    text-decoration: none;
    color: grey;
  }
  
  .setst:link,
  .setst:visited {
    text-decoration: none;
    color: grey;
  }
  
  .setst:hover {
    text-decoration: none;
    color: #335db2;
  }
  
  .setst:active {
    text-decoration: none;
    color: #3b7ced;
  }
  
  .setst.active {
    color: #3b7ced !important;
  }
  
  .setalert {
    width: 5%;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .setbell-icon-container {
    position: relative;
  }
  
  .setnotification-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
  }
  
  .setadmin {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .setadminimg {
    width: 40px;
    height: 40px;
  }
  
  .setad {
    font-family: Product Sans Medium;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.26px;
    text-align: left;
  }
  