.prq {
  width: 100%;
  height: 100%;
  font-family: Product Sans;
}
.prq1 {
  width: 100%;
  height: 90%;
  display: flex;
  position: absolute;
  top: 10%;
  justify-content: center;
}
.prq2 {
  width: 95%;
  height: 95%;
  position: absolute;
  top: 5%;
}
.prqlist {
  width: 35%;
  height: 20%;
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  color: white;
}
.prql1 {
  background: linear-gradient(225deg, #3b7ded 0%, #224787 100%);
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5rem;
}
.prql2 {
  background: linear-gradient(225deg, #2ba24c 0%, #103c1c 100%);
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5rem;
}
.prql3 {
  background: linear-gradient(225deg, #f0b501 0%, #8a6801 100%);
  width: 26%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5rem;
}
.prql4 {
  background: linear-gradient(225deg, #e43e2b 0%, #7e2218 100%);
  width: 24%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5rem;
}
.plnum {
  font-size: 2rem;
}
.prq3 {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  gap: 30rem;
  margin-top: 2.5rem;
}
.p3a {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 50%;
  height: 100%;
}
.p3abtn {
  background: #3b7ced;
  color: white;
  padding: 12px;
  border-radius: 4px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.prqsash {
  width: 50%;
  height: 50%;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #e2e6e9;
}
.ps1 {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0;
}
.ps2 {
  width: 40%;
  height: 40%;
}
.ps3 {
  width: 140%;
  height: 50%;
  outline: none;
  border: none;
  opacity: 60%;

  :focus {
    outline: none;
  }
}
.p3b {
  display: flex;
  gap: 1.5rem;
  height: 100%;
  width: 20%;
  align-items: center;
  justify-content: end;
}
.p3bpage {
  color: #a9b3bc;
}
.p3bnav {
  border: 1.2px solid #e2e6e9;
  width: 25%;
  height: 50%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}
.lr {
  width: 80%;
  height: 80%;
  color: gray;
}
.p3bview {
  border: 1.2px solid #e2e6e9;
  width: 25%;
  height: 50%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}
.grid {
  width: 50%;
  height: 50%;
  color: #3b7ced;
}
.stroke {
  width: 2%;
  height: 100%;
  border-left: 1px solid #e2e6e9;
}
.prq4 {
  width: 100%;
  height: 53%;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2.8rem;
}
.prq4gv {
  width: 17%;
  height: 60%;
  background-color: white;
  border: 1px solid #e2e6e9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
}
.pronam {
  color: #7a8a98;
  font-size: 12px;
}
.quant {
  font-size: 12px;
  color: #7a8a98;
}
.cardnum {
  color: #7a8a98;
  font-size: 12px;
}
.refname {
  color: #7a8a98;
  font-size: 14px;
}
.sales {
  color: #7a8a98;
  font-size: 12px;
}
.status {
  font-size: 12px;
}
.prq4lv {
  width: 100%;
  height: 53%;
  margin-top: 1.5rem;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease-in-out;
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
