.fomain{
width: 25%;
height: 85%;
position: relative;
border-radius: 0.5rem;
box-shadow: 16px 16px 64px 0px #1A1A1A29;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
}
.fowrap{
width: 90%;
height: 95%;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 2rem;
}
.reg{
font-size: 18px;
font-weight: 500;
}
.reg2{
font-size: 14px;
margin-top: -1rem;
}
.lbl{
font-size: 14px;
}
.inpt{
width: 80%;
padding: 8px;
border-radius: 0.5rem;
border: 1px solid #aaaaaa;
margin-top: -3rem;
}
.cd{
opacity: 60%;
margin-top: -0.1rem;
font-size: 12px;
}
.goin{
font-size: 14px;
color: #3b7ced;
/* margin-top: -0.05rem; */
}
.butn{
margin-top: 1.5rem;
background: #3b7ced;
color: #fff;
padding: 12px;
width: 87%;
border: none;
border-radius: 0.5rem;
}
.butn a:{
  color: #fff;
  text-decoration: none;
}

.butn a:link{
  color: #fff;
  text-decoration: none;
}

.butn a:visited{
  color: #fff;
  text-decoration: none;
}

.butn a:hover{
  color: #fff;
  text-decoration: none;
}
.cfm{
    font-size: 14px;
}
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "&#10004;";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "&#10006;";
  }