.fomain{
width: 100%;
height: 90vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #fff;
@media screen and (max-width: 950px) and (min-width: 300px){
  width: 65%;
  height: 90%;
}
}
.fowrap{
width: 25%;
height: 65vh;
position: relative;
border-radius: 0.5rem;
box-shadow: 16px 16px 64px 0px #1A1A1A29;
display: flex;
align-items: center;
justify-content: center;

}
.reg{
font-size: 18px;
font-weight: 700;
}
.reg1{
font-size: 14px;
margin-top: -1rem;
opacity: 60%;
}
.lbl{
font-size: 14px;
font-weight: 600;
margin-top: 1.5rem;
}
.inpt{
width: 100%;
padding: 8px;
border-radius: 0.5rem;
border: 1px solid #aaaaaa;
margin-top: -3rem;
}
.inpt1{
width: 80%;
padding: 8px;
border-radius: 0.5rem;
border: 1px solid #aaaaaa;
margin-top: -3rem;
}
.is-invalid { 
border-color: red !important;
}
.error { 
color: red !important;
font-size: 10px;
margin-bottom: -1rem;
}
.cd{
opacity: 60%;
margin-top: -0.1rem;
margin-bottom: -0.05rem;
font-size: 12px;
}
.fom2{
margin-top: -3rem;
margin-left: 2rem;
width: 100%;
height: 85%;
}
.reg2{
font-size: 18px;
font-weight: 700;
}
.reg3{
font-size: 14px;
/* margin-top: -1rem; */
opacity: 60%;
}
.lbl2{
font-size: 14px;
font-weight: 600;
margin-top: -0.3rem;
}  
.lbl3{
font-size: 14px;
font-weight: 600;
margin-top: 1.2rem;
}  
.goin{
font-size: 14px;
color: #3b7ced;
text-decoration: none;
margin-top: 1.5rem;
:link{
  color: #3b7ced;
  text-decoration: none;
}
:visited{
  color: #3b7ced;
  text-decoration: none;
}
:hover{
  color: #3b7ced;
  text-decoration: none;
}
}
.butn{
margin-top: 1.5rem;
background: #3b7ced;
color: #fff;
padding: 12px;
width: 98%;
border: none;
border-radius: 0.5rem;
text-decoration: none;
margin-left: 0.5rem;
}
.butn a:link{
color: #fff;
text-decoration: none;
}
.butn a:visited{
color: #fff;
text-decoration: none;
}
.butn a:hover{
color: #fff;
text-decoration: none;
}
.butn2{
margin-top: 1rem;
background: #3b7ced;
color: #fff;
padding: 12px;
width: 87%;
border: none;
border-radius: 0.5rem;
text-decoration: none;
}
.butn2 a:link{
color: #fff;
text-decoration: none;
}
.butn2 a:visited{
color: #fff;
text-decoration: none;
}
.butn2 a:hover{
color: #fff;
text-decoration: none;
}
.cfm{
font-size: 14px;
}
.togbutn {
position: absolute;
top: 7.6rem;
right: 60px;
transform: translateY(-50%);
border: none;
background-color: transparent;
}
.togbutn:focus {
outline: none;
}
.password-criteria li {
color: grey;
font-size: 10px;
line-height: 15px;
margin-left: -1.5rem;
margin-top: 0.5rem;
}

.password-criteria li.fulfilled {
color: green;
font-weight: bold;
}