.cardholder{
width: 100%;
height: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background: red;
}
.card{
    /* width: 90%;
    height: 90%;
    background: blue; */
}